img {
    width: 3rem;
}

a:hover {
    color: white !important;
}

.fa-solid {
    width: 2rem;
    padding: .4rem;
    color: grey;
    border: 1px solid grey;
    border-radius: .4rem;
    cursor: pointer;

}

